@import '../common/main';

html, body, #app, .frame, .wrap, .container {
    height: 100%;
}

.frame {
    .wrap {
        position: relative;
        z-index: 1;
        width: 1200px;
        padding-top: 70px;
        margin: auto;
    }

    .container {
        overflow: auto;
        margin-left: 305px;
        padding-top: 10px;
    }
}