@import '../common/main';
.agent-page {
    .card {
        display: flex;
        justify-content: space-between;
        .card-item {
            width: 285px;
            height: 145px;

            &:nth-of-type(1) {
                background: $orange;
            }
            &:nth-of-type(2) {
                background: $green;
            }
            &:nth-of-type(3) {
                display: flex;
                flex-direction: column;
                background: #fff;

                .left {
                    display: flex;
                    flex: 1;
                    font-size: 12px;
                }
                .right {
                    display: flex;
                    flex: 1;
                    font-size: 20px;
                    color: #333;
                }
                .left, .right {
                    align-items: center;
                    text-align: center;
                    div {
                        flex: 1;
                    }
                }
            }

            &:nth-of-type(1), &:nth-of-type(2) {
                position: relative;
                color: #fff;
                text-align: center;
            }

            .title {
                position: absolute;
                top: 10px;
                left: 10px;
                vertical-align: top;
                font-size: 18px;
                font-weight: bold;
            }
            .iconfont {
                // display: flex;
                // align-items: center;
                width: 144px;
                height: 143px;
                line-height: 144px;
                text-align: center;
                overflow: hidden;

                position: absolute;
                left: 70px;
                top: 0;
                font-size: 144px;
                opacity: .2;
                transition: all .5s linear;
            }
            .icon-setting:hover {
                transform: rotate(360deg);
            }
            .number {
                position: absolute;
                right: 20px;
                bottom: 10px;
                font-size: 48px;
            }

        }
    }

    .tabbar {
        display: flex;
        align-items: stretch;
        margin-top: 10px;
        background: #fff;
        height: 50px;
        line-height: 50px;
        .tabs {
            display: flex;
            align-items: stretch;
            text-align: center;

            .tab-item {
                width: 95px;
                border-right: 1px solid #f3f3f3;
                border-bottom: 3px solid #fff;
                cursor: pointer;

                &.active {
                    border-bottom-color: $activeColor;
                    color: $activeColor;
                }
            }
        }
        .search-box {
            position: relative;
            flex: 1;
            margin-left: 20px;

            input {
                width: 190px;
                height: 30px;
                line-height: 30px;
                padding-left: 30px;
                border-top: 1px solid #ccc;
                border-left: 1px solid #ccc;
                background: #f3f3f3;
            }

            .iconfont {
                position: absolute;
                left: 5px;
                font-size: 20px;
            }
        }
        .layout {
            margin-right: 20px;

            .iconfont {
                font-size: 20px;
            }
            .icon-caidan1 {
                margin-right: 20px;
            }
            .active {
                color: $activeColor;
            }
        }
    }

    .list{
        margin-top: 20px;
        margin-bottom: 20px;
        .item{
            display: flex;
            height: 100px;
            margin-top: 20px;
            align-items: stretch;
            background-color: #fff;
            .img{
                margin: 10px 20px;
                img{
                    width: 80px;
                    // height: 80px;
                }
            }
            .detail{
                flex: 1;
                display: flex;
                flex-direction: column;

                .row {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    padding-right: 20px;

                    .iconfont {
                        margin-right: 10px;
                    }
                    a {
                        text-decoration: none;
                        color: $activeColor;
                    }

                    span {
                        display: block;
                    }

                    .name {
                        width: 300px;
                    }

                    .type {
                        width: 100px;
                        span {
                            display: inline-block;
                            padding: 0 5px;
                            color: #fff;
                        } 
                    }
                    .ip {
                        width: 130px;
                    }
                    .location {
                        width: 150px;
                    }
                    .orange {
                        background: $orange;
                    }
                    .green {
                        background: $green;
                    }

                    .add {
                        position: relative;
                        padding: 5px;
                        line-height: 1;
                        background: $activeColor;
                        color: #fff;
                        text-align: center;
                        // cursor: pointer;

                        .iconfont {
                            margin: 0;
                            font-size: 18px;
                            cursor: pointer;
                        }

                        .popup {
                            display: none;
                            position: absolute;
                            left: -15px;
                            top: 50px;
                            width: 570px;
                            border-top: 1px solid $activeColor;
                            border-left: 1px solid $activeColor;
                            padding: 10px;
                            box-shadow: 0px 3px 5px $hoverColor;
                            background: #fff;
                            text-align: left;
                            z-index: 10;
                            p {
                                height: 30px;
                                color: $defaultColor;
                                font-size: 12px;
                                span {
                                    overflow: hidden;
                                }

                                .iconfont {
                                    float: right;
                                    font-size: 12px;
                                    color: $activeColor;
                                }
                            }
                            input {
                                width: 100%;
                                height: 30px;
                                line-height: 30px;
                                padding-left: 10px;
                                border: 1px solid #ccc;
                                border-bottom: 1px solid #eee;
                                color: $activeColor;
                            }

                            button {
                                padding: 0 10px;
                                height: 30px;
                                margin-top: 20px;
                                color: #fff;
                                background: $activeColor;

                                &:nth-of-type(2) {
                                    margin-left: 10px;
                                    background: $defaultColor;
                                }
                             }
                            .arrow {
                                position: absolute;
                                top: -40px;
                                left: 20px;
                                &::before {
                                    position: absolute;
                                    content: ' ';
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 20px solid transparent;
                                    border-bottom: 20px solid $activeColor;
                                }
                                &::after {
                                    position: absolute;
                                    top: 2px;
                                    content: ' ';
                                    border-left: 10px solid transparent;
                                    border-right: 10px solid transparent;
                                    border-top: 20px solid transparent;
                                    border-bottom: 20px solid #fff;
                                }
                            }

                            &.show {
                                display: block;
                            }
                        }
                    }
                    .resource {
                        padding: 5px 7px;
                        display: inline-block;
                        margin-left: 10px;
                        line-height: 1;
                        background: $hoverColor;
                        cursor: pointer;
                        .iconfont {
                            margin: 0;
                            margin-left: 5px;
                        }
                    }

                    .deny {
                        height: 30px;
                        line-height: 30px;
                        padding: 0 10px;
                        background: $activeColor;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .agent-page {
        .card {
            .card-item {
                &:nth-of-type(3) {
                    flex-direction: row;

                    .left, .right {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}